<!-- Dormouse-Task-Meta

input:
  - not sure

parameters:
  - mode
  - segment

response:
  - transcription

-->

<script src="<%= dormouse.resource("jquery.js") %>" type="text/javascript" charset="utf-8"></script>
<script src="<%= dormouse.resource("transcribe.js") %>" type="text/javascript" charset="utf-8"></script>

<link rel="stylesheet" href="<%= dormouse.resource("style.css") %>" type="text/css">

<div>
  <label>Add a Text Transcription</label>
  <p>Please write the text you can read in this journal segment below.</p>
  <img src="<%= segment %>">
  <hr>
  <label for="transcription">Transcription</label>
  <textarea id="transcription" name="transcription"></textarea>
  <input type="button" value="Skip" >
  <input type="submit" value="Transcribe">
</div>
